@using X.PagedList
@using X.PagedList.Mvc.Core
@model LiveHolidayapp.Models.M_Hotel

@if (Model.Hotelpaging.Count() > 0)
{
    @foreach (var item in Model.Hotelpaging)
    {
        <div class="hotel-listing p-2 bg-white rounded-1 border-gray mb-1">
            <div class="row align-items-center gx-2">
                <div class="col-md-3 col-sm-4 col-xs-4 mb-sm-0">
                    <div class="height-image">
                        <a href="~/HotelMerge/RoomDetails?id=@item.hotelResults_ID" class="room-img">
                            <img src="@item.hotelPicture" onerror="this.src='/img/noimage.png';" alt="@item.hotelName" class="img-fluid rounded-30 img-responsive ">
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8 gx-3">
                    <div class="room-list-text">
                        <h4 class="hotel-name mb-1 text-dark fs-4">
                            <b><a href="~/HotelMerge/RoomDetails?id=@item.hotelResults_ID" class="text-black">@item.hotelName</a></b>
                        </h4>
                        <p class="location text-muted mb-1 fs-3">@item.HotelAddress</p>
                        <div class="rating mb-1 fs-3">
                            <span class="text-warning-2">
                                @for (int i = 0; i < Convert.ToDecimal(item.starRating); i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }

                            </span>
                        </div>
                        <div class="amenities mb-2 mmb-0">
                            @if (!string.IsNullOrEmpty(item.Amenity1) && !string.IsNullOrEmpty(item.Amenity2) && !string.IsNullOrEmpty(item.Amenity3))
                            {
                                <text>
                                    <span class="text-muted fs-5">@Html.Raw(item.Amenity1)</span> |
                                    <span class="text-muted fs-5 pl-4">@Html.Raw(item.Amenity2)</span> |
                                    <span class="text-muted fs-5 pl-4">@Html.Raw(item.Amenity3)</span>
                                </text>
                            }
                            else if (!string.IsNullOrEmpty(item.Amenity1) && !string.IsNullOrEmpty(item.Amenity2))
                            {
                                <text>
                                    <span class="text-muted fs-5">@Html.Raw(item.Amenity1)</span> |
                                    <span class="text-muted fs-5 pl-4">@Html.Raw(item.Amenity2)</span>
                                </text>
                            }
                            else if (!string.IsNullOrEmpty(item.Amenity1))
                            {
                                <text>
                                    <span class="text-muted fs-5">@Html.Raw(item.Amenity1)</span>
                                </text>
                            }
                            else
                            {
                                <text>
                                    <span class="text-muted fs-5"><i class="fa fa-wifi"></i> Free Wi-Fi</span> |
                                    <span class="text-muted fs-5 pl-4"><i class="fa fa-car"></i> Free Parking</span> |
                                    <span class="text-muted fs-5 pl-4"><i class="fa fa-cutlery"></i> Restaurant</span>
                                </text>
                            }
                        </div>
                        <a href="~/HotelMerge/RoomDetails?id=@item.hotelResults_ID" class="btn btn-primary btn-sm pp-0">View Details</a>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="row">
        <div class="col-lg-12 col-12">
            @Html.PagedListPager(
                     (IPagedList)Model.Hotelpaging,
                     pageNo => Url.Action("Roomlist", new { pageNo }),
                     new X.PagedList.Web.Common.PagedListRenderOptions
        {
            ContainerDivClasses = new string[] { "room_pagination" },
            PageClasses = new string[] { "" },
            UlElementClasses = new string[] { "pagination" },
            LiElementClasses = new string[] { "" },
        })
        </div>
    </div>

}
else
{
    <div class="hotel-lising p-3 bg-white rounded-1 border-gray">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-12 col-sm-12">
                <div class="room_list_l_text">
                    <div class="name">
                        <a href="javascript:void(0);">
                            <h4>
                                <span><i class="fa fa-filter " aria-hidden="true"></i></span>
                                No hotel matching your search
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $(".room_pagination .pagination li a").click(function (evt) {

            // This stops the form submission.
            evt.preventDefault();
            var ss = evt.target.href;
            const myArray = ss.split("?");
            const pagval = myArray[1].split("=");
            var val = pagval[1];
            ApplyFilter(val);
        });
    });
</script>
