@model LiveHolidayapp.Models.M_Hotel
@{
    ViewData["Title"] = "RoomDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Banner Start -->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_content">
            <h3>Room Detail</h3>
            <ul>
                <li class="active"><a href="~/Home/index">Home</a></li>
                <li><a href="javascript:void(0);">Rooms</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Banner End -->
<!-- Room Details Start -->
<section class="room_details_area pt-10 ppt-20">
    <div class="container">
        <div class="row room_details_inner">
            <div class="col-md-8">
                <div class="room_details_content bg-white p-3 rounded-1 border-gray">
                    <div class="room_d_main_text pb-0">
                        @if (Model.hoteldetailCommonres != null && Model.hoteldetailCommonres.HoteldetailImages != null)
                        {
                            <div class="room_details_img owl-carousel">
                                @if (Model.hoteldetailCommonres != null && Model.hoteldetailCommonres.HoteldetailImages != null)
                                {
                                    foreach (var item in Model.hoteldetailCommonres.HoteldetailImages)
                                    {
                                        if (item.Images != null)
                                        {
                                            <div class="item">
                                                <img src="@item.Images" onerror="this.src='https://xmlhub.rezlive.com/images/noimage.gif';" style="width:900px;height:400px" alt="">
                                            </div>
                                        }

                                    }
                                }

                            </div>
                        }

                        <a href="javascript:void(0);">
                            @foreach (var item in Model.hotelsearchResponses)
                            {
                                <h4>
                                    @item.hotelName
                                </h4>
                            }
                        </a>
                        @*        <div class="room_service_list">
                            <h3 class="room_d_title">Details</h3>
                            <div class="row room_service_list_inner">
                                <div class="col-sm-12 col-md-offset-right-1">
                                    <div class="resot_list list-details">
                                        @if (Model.hoteldetailCommonres != null && Model.hoteldetailCommonres.Decription != null)
                                        {
                                            @Html.Raw(Model.hoteldetailCommonres.Decription)
                                        }
                                    </div>

                                </div>
                            </div>
                        </div> *@
                        <div class="room_service_list mt-2">
                            <h3 class="room_d_title">Amenities</h3>
                            <div class="row room_service_list_inner">
                                <div class="col-sm-12 col-md-offset-right-1">
                                    <div class="resot_list list-details">
                                        <div class="row">
                                            @if (Model.hoteldetailCommonres != null && Model.hoteldetailCommonres.AmenitiesDictionary != null && Model.hoteldetailCommonres.AmenitiesDictionary.Count() > 0)
                                            {
                                                @foreach (var item in Model.hoteldetailCommonres.AmenitiesDictionary)
                                                {
                                                    <div class="col-lg-6" style="font-size:18px;margin-bottom:15px;"><i class="@item.Value"></i> @item.Key</div>
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search_right_sidebar">
                    <div class="book_room_area ">
                        <div class="book_room_box bg-white p-3 border-gray rounded-1">
                            <div class="book_table_item">
                                <h3>Booking Details </h3>
                            </div>
                            <div class="book_table_item">
                                <div class="input-append">
                                    <input class="input-text" size="16" type="text" value="@Model.m_SearchHotel.City" placeholder="City Name Here" disabled>
                                </div>
                            </div>

                            <div class="book_table_item">
                                <div class="input-append">
                                    <input class="input-text" size="16" type="text" value="@Model.m_SearchHotel.txtHotelCheckIn" placeholder="CheckIn Date" disabled>
                                </div>
                            </div>

                            <div class="book_table_item">
                                <div class="input-append">
                                    <input class="input-text" size="16" type="text" value="@Model.m_SearchHotel.txtHotelCheckOut" placeholder="CheckOut Date" disabled>
                                </div>
                            </div>
                            <div class="book_table_item">
                                <div class="input-append">
                                    <input class="input-text" size="16" type="text" value="@Model.m_SearchHotel.ddlAdult" placeholder="CheckOut Date" disabled>
                                </div>

                                @* <select class="selectpicker" disabled>
                                <option>Adults</option>
                                <option>Adults-1</option>
                                <option>Adults-2</option>
                                <option>Adults-3</option>
                                <option>Adults-4</option>

                                </select> *@
                            </div>
                            <div class="book_table_item">
                                <div class="input-append">
                                    <input class="input-text" size="16" type="text" value="@Model.m_SearchHotel.ddlChild" placeholder="CheckOut Date" disabled>
                                </div>

                                @* <select class="selectpicker" disabled>
                                <option>Select Children</option>
                                <option>Children-1</option>
                                <option>Children-2</option>
                                <option>Children-3</option>
                                <option>Children-4</option>
                                </select> *@
                            </div>
                            <div class="book_table_item">
                                <a class="book_now_btn" href="~/LiveHotel/BookHotal?id=@ViewBag.Hotelid"> Continue </a>
                            </div>
                            @if (Convert.ToString(Context.Session.GetString("FormNo")) == "32178")
                            {
                                <div class="book_table_item">
                                    <button class="book_now_btn_black" id="edithotel" data-toggle="modal" data-target="#callback_form">Update</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="callback_form" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hotel Detail</h4>
            </div>
            <div class="modal-body">
                <form id="hotelForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <input id="Hotelid" value="@ViewBag.Hotelid" type="hidden" placeholder="Hotel Id" />
                            <textarea id="Description" class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <hr />
                    <h4>Amenities (15)</h4>
                    <br />
                    <div class="row">
                        @for (int i = 1; i <= 15; i++)
                        {
                            <div class="col-md-4 mb-3">
                                <input type="text" class="amenityTxt form-control"  placeholder="Amenity @i" />
                            </div>
                        }
                    </div>


                    <hr />

                    <h4>Images</h4>
                    <br />
                    <input type="file" id="Images" multiple />

                    <br /><br />

                    <button type="button" class="book_now_btn_black" id="savehotel" onclick="SaveHotel()">Save Hotel</button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Room Details End -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".book_now_btn").click(function (evt) {
            $(".page").show();
        });
    });
</script>

<script>

    function SaveHotel() {
        $(".page").show();
        var formData = new FormData();

        formData.append("Hotelid", $("#Hotelid").val());
        formData.append("Description", $("#Description").val());

        // ===== Amenities =====
        var arr = [];

        $(".amenityTxt").each(function () {
            var v = $(this).val().trim();
            if (v !== "" && !arr.includes(v)) {
                arr.push(v);
            }
        });

        for (var i = 0; i < arr.length; i++) {
            formData.append("Aminities[" + i + "]", arr[i]);
        }

        // ===== Images =====
        var files = document.getElementById("Images").files;

        for (var i = 0; i < files.length; i++) {
            formData.append("Images", files[i]);
        }

        // ===== Hotel Codes sample =====

        $.ajax({
            url: "/HotelMerge/SaveHotel",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                debugger;
                alert("Hotel Saved Successfully");
                $(".page").hide();
                window.location.reload();   
            },
            error: function (err) {
                console.log(err);
                alert("Error");
                $(".page").hide();
            }
        });
    }

</script>
