@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/LiveHolidayapp.styles.css?v=1" asp-append-version="true" />

    <link rel="icon" href="~/img/fav-icon.png" type="image/x-icon" asp-append-version="true">
    <title> @Convert.ToString(Context.Session.GetString("Title")) </title>

    <!-- Icon css link -->
    @* <link href="~/css/font-awesome.min.css?v=1" rel="stylesheet" asp-append-version="true"> *@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/stroke-icon/style.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/flat-icon/flaticon.css?v=1" rel="stylesheet" asp-append-version="true">

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css?v=1" rel="stylesheet" asp-append-version="true">

    <!-- Rev slider css -->
    <link href="~/vendors/revolution/css/settings.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/revolution/css/layers.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/revolution/css/navigation.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/animate-css/animate.css?v=1" rel="stylesheet" asp-append-version="true">

    <!-- Extra plugin css -->
    <link href="~/vendors/magnify-popup/magnific-popup.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/owl-carousel/owl.carousel.min.css?v=1" rel="stylesheet" asp-append-version="true">
    @*    <link href="~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" asp-append-version="true"> *@
    <link rel="stylesheet" href="~/css/bootstrap-datepicker3.css?v=1" asp-append-version="true" />
    <link href="~/vendors/bootstrap-selector/bootstrap-select.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/vendors/lightbox/simpleLightbox.css?v=1" rel="stylesheet" asp-append-version="true">

    <link href="~/css/style.css?v=1" rel="stylesheet" asp-append-version="true">
    <link href="~/css/responsive.css?v=1" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/change.css?v=2.3" asp-append-version="true">
    @if (string.IsNullOrEmpty(Context.Session.GetString("colorcss")))
    {
        <link href="~/css/color.css?v=1" asp-append-version="true" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/@Context.Session.GetString("colorcss")?v=1.2" rel="stylesheet" asp-append-version="true" />
    }

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css?v=1">
    <link href="~/toastr/toastr.css?v=1" asp-append-version="true" rel="stylesheet" />

    <script src="~/js/jquery-2.2.4.js?v=1"></script>


    <script src="~/js/bootstrap.min.js?v=1"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    @if (Context.Session.GetString("CompanyId") == "8806" || Context.Session.GetString("CompanyId") == "4769")
    {
        <link href="~/css/sollywood.css" asp-append-version="true" rel="stylesheet" />
    }
</head>
<body class="notLoaded">
    <!-- Header Include Start -->
    <!-- Loader -->
    <section id="loader-page-section">
        <div class="page" id="wait-loader" style="display: none;">
            <div class="loader-gif">
                <div class="image">
                    <img src="~/img/loader.gif" asp-append-version="true" class="img-responsive" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Loader -->

    <header class="main_header_area white_menu">
        <div class="header_top bg-light">
            <div class="header_top_inner">
                <div class="container">
                    <div class="pull-right p-2">
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Authnekot")) && Context.Session.GetString("CompanyId") == "10989")
                        {
                            <p><i class="fa fa-user" aria-hidden="true"></i> Welcome to Lotus Brand Bazaar</p>
                        }
                        else
                        {
                            <p><i class="fa fa-user" aria-hidden="true"></i> Welcome To @Convert.ToString(Context.Session.GetString("CompanyName"))</p>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="header_menu">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                       @*  <button type="button" class="navbar-toggle collapsed user-button">
                            <a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user" aria-hidden="true"></i></a>
                        </button> *@
                        <button type="button" class="navbar-toggle collapsed user-button">
                            <a href="~/Home/BookHotel" class="btn book_now_btn filter-mobile-button">Book Hotel</a>
                        </button>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            @if (Context.Session.GetString("CompanyId") == "1")
                            {
                                <img src="~/companylogo/1/logo.png" alt="">
                                <img src="~/companylogo/1/logo.png" alt="">
                            }
                            else if (Context.Session.GetString("CompanyId") == "264") 
                            {
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" style="width:150px;" alt="">
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" style="width:150px;" alt="">
                            }
                            else
                            {
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" alt="">
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" alt="">
                            }


                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a href="~/Home/Destinations">Destinations</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                            @*  @if (Context.Session.GetString("isRedeem") == "False")
                            {
                                <li><a href="~/Home/BookHotel">Book Hotel</a></li>
                            } *@
                            <li><a href="~/Home/BookHotel">Book Hotel</a></li>
                            <li><a href="~/Home/Contactus">Get In Touch</a></li>

                            @if (!string.IsNullOrEmpty(Context.Session.GetString("Authnekot")))
                            {
                                <li class="dropdown hover-block">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-user" aria-hidden="true"></i> My Account <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu bootstrap-dropdown">
                                        <li class="dropdown-header mb-1">@Convert.ToString(Context.Session.GetString("CompanyName"))</li>
                                        <li class="user-name mb-2"><h5>@Convert.ToString(Context.Session.GetString("Name"))</h5></li>
                                        <li class="user-name"><h6>Membership ID: @Convert.ToString(Context.Session.GetString("UserName"))</h6></li>
                                        <hr class="mt-2 mb-2" />
                                        @* <li><a href="#">My Account</a></li>
                                    <li><a href="#">Setting</a></li>
                                    <li><a href="#">My Orders</a></li> *@
                                        <li><a href="~/Account/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            else if (Context.Session.GetString("IsFrontLogin") == "Y")
                            {
                                <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                if (Context.Session.GetString("CompanyId") == "264")
                                {
                                    <li><a href="https://stanveeservices.com/packages.asp">Signup</a></li>
                                }
                            }

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Header Include End -->
    @RenderBody()
    <!-- Footer Include Start -->
    <footer class="footer_area">
        <div class="footer_widget_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <aside class="f_widget about_widget">
                            @if (Context.Session.GetString("CompanyId") == "1")
                            {
                                <img src="~/companylogo/1/logo.png" alt="">
                            }
                            else if (Context.Session.GetString("CompanyId") == "8806" || Context.Session.GetString("CompanyId") == "4769" || Context.Session.GetString("CompanyId") == "11490")
                            {
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" style="width:200px;" alt="">
                            }
                            else if (Context.Session.GetString("CompanyId") == "4928")
                            {
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" style="width: 180px;background-color: white;padding: 10px;border-radius: 15px;" alt="">
                            }
                            else
                            {
                                <img src="@Convert.ToString(Context.Session.GetString("logo"))" style="width:100px;" alt="">
                            }

                            <div class="ab_wd_list">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-building"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>@Convert.ToString(Context.Session.GetString("CompanyName"))</h4>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(Convert.ToString(Context.Session.GetString("CMEmailID"))) && !string.IsNullOrWhiteSpace(Convert.ToString(Context.Session.GetString("CMEmailID"))))
                                {
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>@Convert.ToString(Context.Session.GetString("CMEmailID"))</h4>
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrEmpty(Convert.ToString(Context.Session.GetString("Address"))) && !string.IsNullOrWhiteSpace(Convert.ToString(Context.Session.GetString("Address"))))
                                {
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>@Convert.ToString(Context.Session.GetString("Address"))</h4>
                                        </div>
                                    </div>
                                }

                                @if (!string.IsNullOrEmpty(Convert.ToString(Context.Session.GetString("CMMobileNo"))) && Convert.ToString(Context.Session.GetString("CMMobileNo"))!="0")
                                {
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>@Convert.ToString(Context.Session.GetString("CMMobileNo"))</h4>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Convert.ToString(Context.Session.GetString("BusinessHours"))))
                                {
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-hourglass-half"></i>
                                        </div>
                                        <div class="media-body">

                                            <h4>
                                                Business Hours
                                                <br />
                                                @Convert.ToString(Context.Session.GetString("BusinessHours"))
                                            </h4>
                                        </div>
                                    </div>
                                }
                            </div>
                        </aside>
                    </div>
                    <div class="col-md-2 col-xs-6 mmt-2">
                        <aside class="f_widget link_widget">
                            <div class="f_title">
                                <h3>Quick Links</h3>
                            </div>
                            <ul>
                                <li><a href="~/Home/index">-  Home </a></li>
                                <li><a href="~/Home/About">-  About Us</a></li>
                                @if (Context.Session.GetString("isRedeem") == "False")
                                {
                                    <li><a href="~/Home/BookHotel">-  Book Hotel</a></li>
                                }
                                
                            </ul>
                        </aside>
                    </div>
                    <div class="col-md-2 col-xs-6 mmt-2">
                        <aside class="f_widget link_widget">
                            <div class="f_title">
                                <h3>Ethic Links</h3>
                            </div>
                            <ul>
                                <li><a href="~/Home/Termscondition">-  T &amp; C</a></li>
                                <li><a href="~/Home/Privacy">-  Privacy Policy </a></li>
                                <li><a href="~/Home/Contactus">-  Contact Us</a></li>
                                <li><a href="~/Home/Refund">-  Cancel / Refund</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-md-4 col-xs-12 mmt-2 mb-3" style="display:none;">
                        <aside class="f_widget link_widget">
                            <div class="f_title">
                                <h3>Download App</h3>
                            </div>
                            <p class="text-white mb-2">Download the app by clicking on the icon given below</p>
                            <a href="javascript:void(0)"> <img src="~/img/buttons/ios.png" class="imag-responsive mb-1 rounded-1" alt="" width="150"> </a>
                            <a href="javascript:void(0)"> <img src="~/img/buttons/playstore.png" class="imag-responsive mb-1 rounded-1" alt="" width="150"> </a>
                            <a href="javascript:void(0)"> <img src="~/img/buttons/android.png" class="imag-responsive mb-1 rounded-1" alt="" width="150"> </a>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright_area">
            <div class="container">
                <div class="text-center">
                    <h4> &copy; Copyright  <script>document.write(new Date().getFullYear());</script>. All rights reserved. </h4>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Include End -->
    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@


    <script src="~/vendors/revolution/js/jquery.themepunch.tools.min.js?v=1"></script>
    <script src="~/vendors/revolution/js/jquery.themepunch.revolution.min.js?v=1"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.video.min.js?v=1"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js?v=1"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js?v=1"></script>
    <script src="~/vendors/revolution/js/extensions/revolution.extension.navigation.min.js?v=1"></script>
    <script src="~/vendors/magnify-popup/jquery.magnific-popup.min.js?v=1"></script>
    <script src="~/vendors/isotope/imagesloaded.pkgd.min.js?v=1"></script>
    <script src="~/vendors/isotope/isotope.pkgd.min.js?v=1"></script>
    <script src="~/vendors/counterup/waypoints.min.js?v=1"></script>
    <script src="~/vendors/counterup/jquery.counterup.min.js?v=1"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js?v=1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.min.js?v=1" asp-append-version="true"></script>
    <script src="~/vendors/bootstrap-selector/bootstrap-select.js?v=1"></script>
    <script src="~/vendors/lightbox/simpleLightbox.min.js?v=1"></script>
    @*  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script> *@
    @* <script src="~/js/gmaps.min.js"></script> *@
    <script type="text/javascript" src="~/vendors/instafeed/instafeed.min.js?v=1"></script>
    <script type="text/javascript" src="~/vendors/instafeed/script.js?v=1"></script>
    <script src="~/js/theme.js?v=1" asp-append-version="true"></script>
    <script src="~/toastr/toastr.js?v=1" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
