@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Breadcrumb Banner Start -->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_content">
            <h3>Privacy Policy</h3>
            <ul>
                <li class="active"><a href="~/Home/index">Home</a></li>
                <li><a href="~/Home/Privacy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Banner End -->
<!-- Room List Start -->
<section class="room_list_area pt-10 ppt-20">
    <div class="container bg-white p-3">
        <div class="room_list_inner">
            <div class="row mr-0">
                <div class="col-md-12">
                    <div class="conditons-title">
                        <h1>Privacy policy</h1>
                    </div>
                    <div class="conditons">
                        <ul>
                            <li>
                                We value the trust you placed on us, and we appreciate it. That's why we secure your information upon the highest standards for secure transactions and customer information privacy.
                                Please read the following explanation to know about how collect and process your information gathering and dissemination practices.
                                <b> By using @Convert.ToString(Context.Session.GetString("CompanyName")) Services, you are allowing to the practices described in this Privacy Declaration.</b>
                            </li>
                            <li>
                                <b>Note</b>
                                <br />
                                Note:
                                We may change our privacy policy at any time. To make sure you are aware of any changes, please review this policy often.
                                By visiting you agree to be bound by the terms and conditions of our Privacy Policy. If you're not, so please do not use or access our Website.
                            </li>
                            <li>
                                <b>What personal and other information does @Convert.ToString(Context.Session.GetString("CompanyName")) collects from you?</b>
                                <br />
                                We collect your personal and other information to provide and continually improve our products and services.
                                Here is the detailed description of the information we collect:
                                <br />
                                Information you give us we receive and store any information you provide to @Convert.ToString(Context.Session.GetString("CompanyName")) on time to time. Our initial goal in doing this is to provide you with a safe, efficient, quick and customized experience.
                                We show which fields are required and which fields are optional. You always have the option not to provide information which is not required. We may automatically track certain information about you based upon your behaviour on @Convert.ToString(Context.Session.GetString("CompanyName")) website. We use this information to do in-house research on our users' through analytics i.e demographics, interests, and behaviour to understand, protect and serve our users in a better way.
                                This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from, which URL you next go to, your computer browser information, and your IP address.
                                We use data collection devices such as "cookies" on certain pages of the Website to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your hard drive that assist us in providing our services. We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session. You are always free to decline our cookies if your browser permits, although in that case, you may not be able to use certain features on the Website and you may be required to re-enter your password more frequently during a session.
                                If you wish to buy anything from the , we collect information about your buying product, preferences, and other such information that you choose to provide.
                                If you transact with us, we collect some additional information, such as a billing address, a credit/debit card number and a credit/debit card expiration date and/ or other payment instrument details and tracking information.
                                <br />
                                We retain this information as necessary to resolve conflicts, provide customer support and troubleshoot problems as permitted by law.
                                If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Website, we may collect such information.
                                We collect personally identifiable information (email address, name, phone number, credit card / debit card / other payment instrument details, etc.) from you when you set up a account with us. We do use your contact information to send you offers based on your previous orders and your interests.
                            </li>
                            <li>
                                <b>Use of Demographic / Profile Data / Your Information</b>
                                <br />
                                We use personal information to provide the services or products you request. To the extent, we use your personal information for re-marketing to you. We use your personal information to support sellers in handling and fulfilling orders, enhancing customer experience, resolve disputes, troubleshoot problems, help promote a safe service, collect money, measure consumer interest in our products and services, inform you about online and offline offers, products, services, and latest updates, customize and enhance your experience with @Convert.ToString(Context.Session.GetString("CompanyName")), detect and protect us against error, fraud and other criminal activity, enforce our terms and conditions, and as otherwise described to you at the time of collection.
                                <br />
                                With your permission, we will have access to your SMS, contacts in your direct, location and device information and we may request you to provide your PAN and Know-Your-Customer (KYC) details to check your eligibility for certain products/services including to credit and payment products etc. to enhance your experience on the platform and provide you access to the services being offered by us, our members or lending partners. Access, storage and use of this data will be in consonance with applicable laws.
                                In our efforts to continually improve our product and service offerings, we and our members collect and analyse demographic and profile data about our user's activity on @Convert.ToString(Context.Session.GetString("CompanyName")).
                                We identify and use your IP address to help diagnose problems with our server and to administer our Website. Your IP address is also used to help identify you and to gather demographic information.
                            </li>
                            <li>
                                <h3><b>How Secured is your information with us?</b></h3>
                                <br />
                                We design our policies with your security and privacy.
                                <ul>
                                    <li>We work to protect the security of your personal information during transmission by using encryption protocols and software.</li>
                                    <li>We follow the Payment Card Industry Data Security Standard when handling credit card data.</li>
                                    <li>We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, and disclosure of personal customer information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you.</li>
                                    <li>Our devices offer security features to protect them against unauthorized access and loss of data. You can control these features and configure them based on your needs.</li>
                                </ul>
                            </li>
                            <li>
                                <h3><b>Cookies</b></h3>
                                <br />
                                When you use our Services, we and some third parties may use cookies and similar technologies to provide you with a safer, more durable and better user experience. Cookies are short text files that are automatically created by your browser and stored on your device when you use the Services. Cookies are useful for enabling the browser to remember information specific to a given user. The cookies do not contain any of your personally identifiable information.
                                <br />
                                <ul>
                                    <li>
                                        <b>Links to another site.</b>
                                        <br />
                                        Our Website links to other websites that may collect personally identifiable information about you. @Convert.ToString(Context.Session.GetString("CompanyName")) is not responsible for the privacy practices or the content of those linked websites.
                                    </li>
                                    <li>
                                        <b>Security Precautions</b>
                                        <br />
                                        @Convert.ToString(Context.Session.GetString("CompanyName")) has powerful security measures to protect the loss, misuse, and modification of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.
                                    </li>
                                    <li>
                                        <b>Your acquiescence</b>
                                        <br />
                                        By using the @Convert.ToString(Context.Session.GetString("CompanyName")) website or by providing your data, you permit to the collection and use of the information you disclose on the Website by this Privacy Policy, including your permission for sharing your information as per this privacy policy. If you disclose any personal information related to other people to us, you represent that you have the authority to do so and to permit us to use the information by this Privacy Policy.
                                        <br />
                                        If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room List End -->
